

<div class="comment">

  <h4>Posted <%=distance_of_time_in_words(comments.created_at,Time.now)%> ago by <username id="username">[ <%=User.find(comments.user_id).username.capitalize%> ]</username></h4>
  <p> <%= comments.body %></p>
</div>
