// Place all the styles related to the Foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: url(https://s-media-cache-ak0.pinimg.com/236x/8c/3a/9c/8c3a9c2fb4650bf822f9ffbe0c1cb890.jpg);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 22px;
}

img {
  width: 300px;
  height: 230px;
  border: 5px solid grey;
  border-radius: 15px;
}

li {
    color: charcoal;
    display: inline-block;
    text-align: center;
}

h1,h2,h3,h4{
  text-align: center;
}
p {
  text-align: center;
}

.comment {
  background-color: grey;

}

.food {
  width: 500px;
}
